@import './bower_components/cita-flex/css/src/_cita-flex-mixins.scss';

$size: .5rem;
$background: #e5e5e5;
$background--active: #fefefe;
$color: #3e3e3e;
$color--disabled: #5e5e5e;
$color--focus: #1e1e1e;
$breakpoint: 600px;

.tabs__radio {
    position: absolute;
}

.tabs__list {
    @include flex-container;
}

.tabs__label {
    @include flexbox(0 0 10%);
    @include flex-container;
    @include item(center);
    @include justify(center);
    height: $size * 5;
    border: 1px dotted transparent;
    background: $background;
    color: $color;
}

.tabs__content {
    padding: $size;
    display: none;
}

$offset: 10%;
@for $i from 1 through 10 {
    .tabs__radio:nth-of-type(#{$i}) {
        left: calc(#{$offset} * (#{$i} - 1));
        &:checked ~ .tabs__list > .tabs__label:nth-of-type(#{$i}) {
            background-color: $background--active;
        }
        &:checked ~ .tabs__container > .tabs__content:nth-of-type(#{$i}) {
            display: block;
        }
        &:focus ~ .tabs__list > .tabs__label:nth-of-type(#{$i}) {
            color: $color--focus;
            border-color: currentColor;
        }
        &:disabled ~ .tabs__list > .tabs__label:nth-of-type(#{$i}):not(.tabs__label--hide) {
            color: $color--disabled;
            cursor: no-drop;
        }
        &:disabled ~ .hide-if-disabled:nth-of-type(#{$i}) {
            display: none;
        }
    }
}

@media screen and (min-width: $breakpoint) {
}
