.tabs {
  display: flex;
  flex-wrap: wrap; }

.tabs__radio {
  position: absolute;
  left: -9999px; }

.tabs__label {
  flex: 0 0 auto;
  width: 10%;
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  color: #4e4e4e;
  background-color: #e5e5e5;
  cursor: pointer; }

.tabs__content {
  width: 100%;
  flex-basis: 100%;
  padding: 0.5rem;
  display: none; }

.tabs__radio:nth-of-type(1):checked ~ .tabs__label:nth-of-type(1) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(1):checked ~ .tabs__content:nth-of-type(1) {
  display: block; }

.tabs__radio:nth-of-type(1):disabled ~ .tabs__label:nth-of-type(1) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(2):checked ~ .tabs__label:nth-of-type(2) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(2):checked ~ .tabs__content:nth-of-type(2) {
  display: block; }

.tabs__radio:nth-of-type(2):disabled ~ .tabs__label:nth-of-type(2) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(3):checked ~ .tabs__label:nth-of-type(3) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(3):checked ~ .tabs__content:nth-of-type(3) {
  display: block; }

.tabs__radio:nth-of-type(3):disabled ~ .tabs__label:nth-of-type(3) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(4):checked ~ .tabs__label:nth-of-type(4) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(4):checked ~ .tabs__content:nth-of-type(4) {
  display: block; }

.tabs__radio:nth-of-type(4):disabled ~ .tabs__label:nth-of-type(4) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(5):checked ~ .tabs__label:nth-of-type(5) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(5):checked ~ .tabs__content:nth-of-type(5) {
  display: block; }

.tabs__radio:nth-of-type(5):disabled ~ .tabs__label:nth-of-type(5) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(6):checked ~ .tabs__label:nth-of-type(6) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(6):checked ~ .tabs__content:nth-of-type(6) {
  display: block; }

.tabs__radio:nth-of-type(6):disabled ~ .tabs__label:nth-of-type(6) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(7):checked ~ .tabs__label:nth-of-type(7) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(7):checked ~ .tabs__content:nth-of-type(7) {
  display: block; }

.tabs__radio:nth-of-type(7):disabled ~ .tabs__label:nth-of-type(7) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(8):checked ~ .tabs__label:nth-of-type(8) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(8):checked ~ .tabs__content:nth-of-type(8) {
  display: block; }

.tabs__radio:nth-of-type(8):disabled ~ .tabs__label:nth-of-type(8) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(9):checked ~ .tabs__label:nth-of-type(9) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(9):checked ~ .tabs__content:nth-of-type(9) {
  display: block; }

.tabs__radio:nth-of-type(9):disabled ~ .tabs__label:nth-of-type(9) {
  color: #8e8e8e;
  cursor: no-drop; }

.tabs__radio:nth-of-type(10):checked ~ .tabs__label:nth-of-type(10) {
  background-color: #fefefe; }

.tabs__radio:nth-of-type(10):checked ~ .tabs__content:nth-of-type(10) {
  display: block; }

.tabs__radio:nth-of-type(10):disabled ~ .tabs__label:nth-of-type(10) {
  color: #8e8e8e;
  cursor: no-drop; }
